.fav-btn {
  max-width: 40px;
  max-height: 40px; /* Imposta una larghezza massima per il bottone */
  display: flex;
  justify-content: center; /* Centra l'icona orizzontalmente */
  align-items: center;
}

.heart:hover {
  color: red;
}

.favorite {
  color: red;
}

.sneaker-card {
  width: 250px;
  overflow: hidden;
  height: auto;
  transition: scale 0.2s ease;
}

.sneaker-card:hover {
  scale: 1.05;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 16px;
}

.card-price {
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
